.App {
  position: relative;
  padding: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: #1a1a2e;
  color: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 50px;
}

.react-logo {
  position: absolute;
  top: 4px;
  right: 0px;
  width: 40px;
  height: 40px;
  transition: transform 2s ease-in-out;
}

.github-logo {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 25px;
  height: 25px;
}
.github-logo:hover {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 30px;
  height: 30px;
}

.react-logo:hover {
  transform: rotate(360deg);
  width: 45px;
  height: 45px;
}
.scrollable-div {
  width: 480px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollable-div::-webkit-scrollbar {
  display: none;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f3460;
  padding: 10px;
  display: flex;
  align-items: center;
  z-index: 101;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 24px;
}

.menu-line {
  width: 24px;
  height: 2px;
  background-color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #0f3460;
  transition: left 0.3s ease;
  z-index: 100;
  overflow-y: auto;
}

.sidebar.open {
  left: 0;
}

.user-info {
  color: white;
  padding: 20px;
  margin-top: 30px;
  background-color: #162447;
}

.close-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #1f4068;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  scrollbar-width: none;
}

#title {
  margin: 0;
  font-size: 24px;
  color: #eaeaea;
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #162447;
  background-color: #1f4068;
  color: #eaeaea;
  transition: background-color 0.3s ease;
}

input:focus {
  outline: none;
  background-color: #0f3460;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #162447;
  background-color: #162447;
  color: #eaeaea;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0f3460;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #1f4068;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

li .text {
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li .buttons {
  display: flex;
  gap: 10px;
}

li.completed {
  background-color: #162447;
  color: #ffffff;
  text-decoration: line-through;
  transform: scale(0.98);
  transition: background-color 0.3s ease, transform 0.3s ease,
    text-decoration 0.3s ease, color 0.3s ease;
}

li:hover {
  transform: scale(1.02);
  background-color: #2a588f;
}

li button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #0f3460;
  color: #eaeaea;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #00fffb;
}

li button.complete {
  background-color: #6ab04c;
}

li button.complete:hover {
  background-color: #5aa23e;
}

li button.undo {
  background-color: #1a1a2e;
}

li button.undo:hover {
  background-color: #162447;
}
